{% extends "auth_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="card-header">
        <h4>Login</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            
            <!-- Campo de E-mail -->
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Campo de Senha -->
            <div class="mb-3">
                {{ form.senha.label(class="form-label") }}
                {{ form.senha(class="form-control") }}
                {% if form.senha.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.senha.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Lembrar de mim -->
            <div class="mb-3 form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>

            <!-- Botão de login -->
            <div class="d-grid">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <!-- Link para registro de conta -->
        <div class="mt-3">
            <a href="{{ url_for('auth.registrar') }}">Não tem uma conta? Registre-se</a>
        </div>

        <!-- Caso o usuário tenha a conta bloqueada, mostre a opção de enviar um link de autenticação por e-mail -->
        {% if is_locked %}
        <div class="mt-3">
            <form method="POST" action="{{ url_for('auth.send_mfa_email_request') }}">
                <div>
                    <button type="submit" class="btn btn-link">Solicitar autenticação por e-mail</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
