{% extends "auth_base.html" %}

{% block title %}Verificação MFA{% endblock %}

{% block content %}

    <h4>Verificação em Duas Etapas</h4>
  </div>
  <div class="card-body">
    <p>Por favor, insira o código do seu app autenticador:</p>

    <form method="POST" action="{{ url_for('auth.mfa_verify') }}">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.mfa_code.label(class="form-label") }}
        {{ form.mfa_code(class="form-control") }}
        {% if form.mfa_code.errors %}
          <div class="invalid-feedback d-block">
            {% for error in form.mfa_code.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="d-grid">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>

{% endblock %}
